#subhead{
    cursor: default;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-shadow: 0 0 black;
}
.subheadDark{
    -webkit-text-stroke: white 0.01rem;
    color: #B7B7B7;
}
.subheadLight{
    -webkit-text-stroke: black 0.03rem;
    color: black;
}