@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Arizonia&family=DM+Serif+Display&family=Inter&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

#root{
  height: 100vh;
  width: 100vw;
}
::selection{
  background-color: black;
  color: white;
}

::-moz-selection {
  background-color: black;
  color: white;
}
body{
  background: #181818;
  margin: 0;
  color: white;
}
html{
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
}

/* custom scroll bar */
body::-webkit-scrollbar, textarea::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  display: none !important;
  background-color: #333;
  border-radius: 20px;
}

textarea::-webkit-scrollbar-thumb{
  background: linear-gradient(180deg, rgba(34, 34, 34, 0.00) 13.01%, #333 13.02%, #333 90%, rgba(51, 51, 51, 0.00) 90.01%);  border-radius: 20px; 
}