// Dark Mode colors
$bgDark: #181818;
$secondaryDark: #2E8BB1;
$navTextDark: rgba(255, 255, 255, .6);
$primaryTextDark: #F1F5F9;

// Light Mode colors
$secondaryLight: #FFA500;
$bgLight: #F4F6F0;
$navTextLight: rgba(0, 0, 0, .6);
$primaryTextLight: #000000;

// @mixin theme($mode){
//     @if ($mode == light){
//         background-color: $bgLight;
//         color: $primaryTextLight;
//     }@else{
//         background-color: $bgDark;
//         color: $primaryTextDark;    
//     }
// }

@mixin fakeOutline{
    outline: 1px solid $red;
}
@mixin flexCenter{
    display: flex;
    justify-content: center;    
    align-items: center;
}
@mixin heightWidth{
    height: 100vh;
    width: 100vw;
}
@mixin transition{
    transition: 300ms ease-in-out;
}
@mixin transitionfast{
    transition: 200ms ease-in-out;
}
@mixin transitionslow{
    transition: 500ms ease-in-out;
}


.container{
    @include flexCenter;
    justify-content: initial;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    @include transitionfast;
}

.container::-webkit-scrollbar {
  width: 6px;
}
.container::-webkit-scrollbar-track {
    background: #181818 !important;   
}
.container::-webkit-scrollbar-thumb {
    display: inherit !important;
    background-color: #252525 !important;
    border-radius: 20px;
}
.nav{
    width: 100vw;
    @include flexCenter;
    position: sticky;
    top: 0;
    padding-top: 30px;
    // @include theme(dark);
    @include transitionfast;
}

.navDark{
    background-color: $bgDark;
    box-shadow: 0px 15px 40px 0px #18181890;
}
.navLight{
    background-color: $bgLight;
    box-shadow: 0px 15px 40px 0px #F4F6F090;

}

.links{
    padding: 0;
    @include flexCenter;
    flex-direction: row;
    width: 60%;
    margin: auto;
    justify-content: space-around;
    border-bottom: 1px solid #2F2F2F;
}

.radioTileDark, .radioTileLight {
    cursor: default;
    list-style-type: none;
    font-weight: 300;
    margin: 0 .25rem;
    padding: .25rem 2.25rem .35rem;
}

.inputContainer {
    position: relative;
}

.inputContainer, .radioTileDark, .radioTileLight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 4px;
    @include transition;
}

.inputContainer input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: default;
    outline: 1px solid red;
    z-index: 2;
    opacity: 0;
}

input:default + .radioTileDark{
    border-bottom: 4px solid transparent;
}

input:checked + .radioTileDark {
    color: $primaryTextDark;
    font-weight: 400;
    border-bottom: 4px solid $secondaryDark;
}

input:checked + .radioTileLight {
    color: $primaryTextLight;
    font-weight: 400;
    border-bottom: 4px solid $secondaryLight;
}

input:hover + .radioTileDark {
    background-color: #202020;
}

input:hover + .radioTileLight {
    background-color: #E0E0E0;
}

#chand{
    @include transitionslow;
    margin-right: 30px;
    cursor: pointer;
    padding: 0 19px;
    fill: $secondaryDark;
    &:hover{
        filter: drop-shadow(0px 0px 10px $secondaryDark);
    }
}
.pfpandback{
    @include flexCenter;
    margin-left: 30px;
    #pfp{
        height: 30px;
        width: 30px;
        border-radius: 100%;
    }
    .arrowimg{
        width: 15px !important;
    }
    a{
        @include flexCenter;
        background-color: transparent;
        gap: .25rem;
        cursor: default;
        padding: 0;
        outline: none;
        border:none;
        border-radius: 100%;
        padding: .5rem;
        @include transition;
        &:hover{
            @include transition;
            transform: translateX(-5px);
        }
    }
}
.blogsContainer{
    max-width: 60%;
    margin-top: 1.75rem;
}

// .shadow{
//     position: relative;
//     bottom: 0;
//     height: 1px;
//     width: 100vw;
//     box-shadow: 0px 10px 30px 0px #181818;
// }


// light and dark theme 

.arrowimgDark{
    fill: $primaryTextDark;
}
.arrowimgLight{
    fill: $primaryTextLight;
}

.navLinksDark {
    border-bottom: 1px solid #2F2F2F;
    color: $navTextDark;
    
}
.navLinksLight {
    border-bottom: 1px solid #E0E0E0;
    color: $navTextLight;
}
.containerDark{
    background-color: $bgDark;
}
.containerLight{
    background-color: $bgLight;
}
.containerLight::-webkit-scrollbar-track {
    background: $bgLight !important;      
}
.containerLight::-webkit-scrollbar-thumb {
    background-color: #24242440 !important;
}
.chandLight{
    fill: $secondaryLight !important;
    &:hover{
        filter: drop-shadow(0px 0px 10px $secondaryLight) !important;
    }
}



/* Large smartphones and small tablets (iPad mini, Nexus 7, etc.) */
@media only screen and (max-width : 768px){
    .links, .blogsContainer{
        max-width: 70%;
    }
    .links a{
        &:active{
            border-bottom: none;
        }
    }
}


/* Small smartphones (iPhone 4, Galaxy S2, etc.) */
@media only screen and (max-width : 475px){
    .nav{
        border-bottom: 1px solid #2F2F2F;
        padding-bottom: 0.75rem;
        padding-top: 0.95rem;
    }
    .links{
        border-bottom: none;
    }
    .links a{
        font-size: 14px;
        padding: 0.15rem 0.25rem;
    }
    .pfpandback{
        margin-left: 15px;
    }
    #chand{
        margin-right: 30px;
    }
    .blogsContainer{
        max-width: 90%;
    }
}